<body class = "cuerpo">
<div class="btn-group">
  <input type="button" id="btnIngresoVuelos" class="btn btn-primary btn-lg" value="Ingreso de vuelos"
  [routerLinkActive]="'active-link'" [routerLink]="['/ingreso-vuelos']">
  <input type="button" id="btnListaVuelos" class="btn btn-primary btn-lg" value="Consultar vuelos"
  [routerLinkActive]="'active-link'" [routerLink]="['/consulta-vuelos']">
  <input type="button" id="btnMisReservas" class="btn btn-primary btn-lg" value="Mis reservas"
  [routerLinkActive]="'active-link'" [routerLink]="['/mis-reservas']">
</div>
<router-outlet></router-outlet>
</body>
