<body class="cuerpo">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Identificación" [(ngModel)]="this.cliente.documentoIdentidad"><br>
        <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="this.cliente.nombres"><br>
        <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="this.cliente.apellidos"><br>
        <label class="checkbox-inline">
            Fecha de nacimiento: <input type="date" placeholder="dd/mm/yyyy"  [(ngModel)]="this.cliente.fechaNacimiento">
        </label>        
    </div>
    <table class="table cuerpo">
        <tr>
            <th>Codigo vuelo</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Costo</th>
            <th>Asiento disponibles</th>
        </tr>
        <tr *ngFor="let item of vuelos; let i = index">
            <td>{{item.codigoVuelo}}</td>
            <td>{{item.origen}}</td>
            <td>{{item.destino}}</td>
            <td>{{item.costo}}</td>
            <td>{{item.asientosDisponibles}}</td>
            <td>
                <input type="button" id="btnParaReserva{{i}}" class="btn btn-primary" value="Reservar" (click)="reservarVuelo(i)">
            </td>
        </tr>
    </table>
</body>