<body class="cuerpo">
  <div class="form-group cuerpo">
    <input type="text" class="form-control" placeholder="Documento de identidad" [(ngModel)]="this.identificacion"><br>
    <input type="button" id="btnParaReserva{{i}}" class="btn btn-primary" value="Consultar" (click)="consultarVuelos()">
  </div>

  <table class="table">
    <tr>
      <th>Codigo vuelo</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Costo</th>
      <th>Asiento disponibles</th>
    </tr>
    <tr *ngFor="let item of vuelos; let i = index">
      <td>{{item.codigoVuelo}}</td>
      <td>{{item.origen}}</td>
      <td>{{item.destino}}</td>
      <td>{{item.costo}}</td>
      <td>{{item.asientosDisponibles}}</td>
    </tr>
  </table>
</body>